<!DOCTYPE html>
<html lang="ja" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>アイデア創出アプリ</title>
  <meta name="description" content="アイデアのヒントになる場所">
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link rel="stylesheet" href="stylesheets/style_recruit.css">
</head>

<body>
  <h1>アイデア募集スペース</h1>
  <h2>ジャンル：なし</h2>
  <div class="maincontents">
    <article>
      <div class="twitch">
        <div class="sticky black idea">
          <p>Title</p>
          <p>新しいお菓子案募集中！</p>
          <p>Content</p>
          <p>小さい子供向けの知育お菓子のようなものを考えています。
            200円〜300円程度で売り出せるような知育お菓子のアイデア募集です！</p>
          <p>Name</p>
          <p>〇〇会社</p>
          <p>　</p>
          <h2 class="formString">投稿フォーム</h2>
          <p>　</p>
          <form method="post">
            <div class="leftInput">
              <p><label for="title">タイトル</label></p>
              <p><input type="text" name="title" placeholder="(例)〇〇ドリンク" id="title" class="formDesign"></p>
              <p><label for="username">名前</label></p>
              <p><input type="text" name="username" placeholder="(例)サポ　次郎" id="username" class="formDesign"></p>
              <p><label for="email">メールアドレス</label></p>
              <p><input type="text" name="email" placeholder="(例)example.gmail.com" id="email" class="formDesign"></p>
            </div>
            <div class="rightInput">
              <p><label for="content">内容</label></p>
              <p><textarea name="content" rows="6" cols="40" type="text" placeholder="(例)飲むと元気に！" id="content"
                  class="formDesign"></textarea></p>
              <input type="submit" value="送信！" class="submitButton">
            </div>
          </form>
        </div><br>
        <div class="sticky green idea">
          <p>Title</p>
          <p>あなたの食べたいドーナツの味は？</p>
          <p>Content</p>
          <p>7月から新しいドーナツのフレーバーを作ろうと思っています。
            なので、みなさんが食べて見たいと思うドーナツの味を教えてください！</p>
          <p>Name</p>
          <p>〇〇会社</p>
          <p>　</p>
          <h2 class="formString">投稿フォーム</h2>
          <p>　</p>
          <form method="post">
            <div class="leftInput">
              <p><label for="title">タイトル</label></p>
              <p><input type="text" name="title" placeholder="(例)〇〇ドリンク" id="title" class="formDesign"></p>
              <p><label for="username">名前</label></p>
              <p><input type="text" name="username" placeholder="(例)サポ　次郎" id="username" class="formDesign"></p>
              <p><label for="email">メールアドレス</label></p>
              <p><input type="text" name="email" placeholder="(例)example.gmail.com" id="email" class="formDesign"></p>
            </div>
            <div class="rightInput">
              <p><label for="content">内容</label></p>
              <p><textarea name="content" rows="6" cols="40" type="text" placeholder="(例)飲むと元気に！" id="content"
                  class="formDesign"></textarea></p>
              <input type="submit" value="送信！" class="submitButton">
            </div>
          </form>
        </div><br>
        <div class="sticky yellow idea">
          <p>Title</p>
          <p>【急募】新しいインスタント食品</p>
          <p>Content</p>
          <p>我が社では3分〜5分程度で作れる新しいインスタント食品を考えています。
            みなさんが食べたいと思う新しいインスタント食品の案をお待ちしています。
            技術的なことは考えずに気軽に投稿してください！</p>
          <p>Name</p>
          <p>〇〇会社</p>
          <p>　</p>
          <h2 class="formString">投稿フォーム</h2>
          <p>　</p>
          <form method="post">
            <div class="leftInput">
              <p><label for="title">タイトル</label></p>
              <p><input type="text" name="title" placeholder="(例)〇〇ドリンク" id="title" class="formDesign"></p>
              <p><label for="username">名前</label></p>
              <p><input type="text" name="username" placeholder="(例)サポ　次郎" id="username" class="formDesign"></p>
              <p><label for="email">メールアドレス</label></p>
              <p><input type="text" name="email" placeholder="(例)example.gmail.com" id="email" class="formDesign"></p>
            </div>
            <div class="rightInput">
              <p><label for="content">内容</label></p>
              <p><textarea name="content" rows="6" cols="40" type="text" placeholder="(例)飲むと元気に！" id="content"
                  class="formDesign"></textarea></p>
              <input type="submit" value="送信！" class="submitButton">
            </div>
          </form>
        </div><br>
        <div class="sticky blue idea">
          <p>Title</p>
          <p>みんなで新しいエナジードリンクを作ろうぜ！！</p>
          <p>Content</p>
          <p>次に発売する味は...なんと、みんなからのアンケートで決めるぜ！
            みんなが飲みたい味やフレーバーをどんどん教えてくれよな！</p>
          <p>Name</p>
          <p>〇〇会社</p>
          <p>　</p>
          <h2 class="formString">投稿フォーム</h2>
          <p>　</p>
          <form method="post">
            <div class="leftInput">
              <p><label for="title">タイトル</label></p>
              <p><input type="text" name="title" placeholder="(例)〇〇ドリンク" id="title" class="formDesign"></p>
              <p><label for="username">名前</label></p>
              <p><input type="text" name="username" placeholder="(例)サポ　次郎" id="username" class="formDesign"></p>
              <p><label for="email">メールアドレス</label></p>
              <p><input type="text" name="email" placeholder="(例)example.gmail.com" id="email" class="formDesign"></p>
            </div>
            <div class="rightInput">
              <p><label for="content">内容</label></p>
              <p><textarea name="content" rows="6" cols="40" type="text" placeholder="(例)飲むと元気に！" id="content"
                  class="formDesign"></textarea></p>
              <input type="submit" value="送信！" class="submitButton">
            </div>
          </form>
        </div><br>
        <% comps.forEach(comp=> { %>
          <div class="sticky <%= comp.color %> idea">
            <p>Title</p>
            <p>
              <%= comp.title %>
            </p>
            <p>Content</p>
            <p>
              <%= comp.content %>
            </p>
            <p>Name</p>
            <p>
              <%= comp.company %>
            </p>
            <p>投稿フォーム</p>
            <form action="/post_to_comp/<%=comp.comp_id%>" method="post">
              <div class="leftInput">
                <p><label for="title">タイトル</label></p>
                <p><input type="text" name="title" placeholder="(例)〇〇ドリンク" id="title" class="formDesign"></p>
                <p><label for="username">名前</label></p>
                <p><input type="text" name="username" placeholder="(例)サポ　次郎" id="username" class="formDesign"></p>
                <p><label for="email">メールアドレス</label></p>
                <p><input type="text" name="email" placeholder="(例)example.gmail.com" id="email" class="formDesign"></p>
              </div>
              <div class="rightInput">
                <p><label for="content">内容</label></p>
                <p><textarea name="content" rows="6" cols="40" type="text" placeholder="(例)飲むと元気に！" id="content"
                    class="formDesign"></textarea></p>
                <input type="submit" value="送信！" class="submitButton">
              </div>
            </form>
          </div><br>
          <% }); %>
      </div>
    </article>
    <aside>
      <div class="circleTopL"></div>
      <div class="circleTopR"></div>
      <h3>ジャンル</h3>
      <ul class="genre">
        <li>
          <a href="#">食べ物</a>
        </li>
        <li>
          <a href="#">おもちゃ</a>
        </li>
        <li>
          <a href="#">アプリ</a>
        </li>
        <li>
          <a href="#">音楽</a>
        </li>
        <li>
          <a href="#">機械</a>
        </li>
        <li>
          <a href="#">その他</a>
        </li>
      </ul>
      <div class="circleBottomL"></div>
      <div class="circleBottomR"></div>
    </aside>
    <div class="transform">
      <a href="/">共有ページへ</a>
      <br>
      <a href="/post_theme">お題投稿ページへ</a>
    </div>
  </div>
  </div>
</body>

</html>