<h1>
    <%= title %>
</h1>
<p>Welcome to <%= title %>
</p>

<% ideas.forEach(idea => { %>
    <ul>
        <li>title: <%= idea.title %></li>
        <li>content: <%= idea.content %></li>
        <li>username: <%= idea.username %></li>
    </ul>
<% }); %>

<p>SSSSSSSSSSSHHHHHHHHHHHOOOOOOOOOOOOOOWWWWWWWWWW</p>